@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Merriweather", serif;
}
/* common styles */

/* header banner style */
.header-container{
    width: 1140px;
    height: 500px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../images/Banner\ Image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: overlay;
}
.header-content{
    width: 520px;
    text-align: center;
}
.header-content h1{
    font-size: 56px;
    color: #FFFFFF;
    line-height: 80px;
}
.header-content h3{
    font-size: 24px;
    color: #FFFFFF;
    line-height: 40px;
}

/* discount section styles */
.discount-section{
    width: 720px;
    margin: 50px auto;
}

.discount-content{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dis-sec-title{
    color: #FF0000;
    font-weight: blod;
    font-size: 72px;
    line-height: 150px;
    
}
.dis-sub-title{
    color: #FF0000;
    font-size: 18px;
    font-weight: 400;
    word-spacing: 5px;
}
.dis-categ-title{
    color:#070211;
    font-size: 36px;
    font-weight: bold;
    line-height: 80px;
}
.dis-img img{
    width: 100%;
}
